{{ $config := .Site.Data.config }}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>
			{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
			{{ if .IsHome }}
					{{ .Site.Title }}
			{{ else if .Params.heading }}
					{{ .Params.heading }}
			{{ else }}
					{{ .Title }} | {{ .Site.Title }}
			{{ end }}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Including the bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Social Icon fonts -->
	<link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh">
	<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/styles.css">
	<!-- Including google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/highlight.css">
	<!-- Font awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


	<!-- Meta tags -->
	<meta name="author" content="{{ $config.author }}">
	<meta name="theme-color" content="#000000">

	{{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
	{{ end }}
	
	{{ partial "seo_schema.html" . }}

</head>
<body class="clearfix">
