{{ $sidebar := .Site.Data.sidebar }}
{{ $social := .Site.Data.social }}
{{ $tech := .Site.Data.tech.tech }}

<section id="sidebar" class="sidebar d-flex align-items-center p-5">
  <div class="main-info">

    <img src="{{.Site.BaseURL}}images/{{ $sidebar.displayPicture }}" class="rounded-circle mb-3" width="160px">

    <h1 class="heading">{{ $sidebar.title }} <span class="highlight">{{ $sidebar.highlightedText }}</span></h1>
    <p class="text-muted">{{ $sidebar.description }}</p>
    
    <div class="tech">
        {{ range $value := $tech }}
            <i class="fab fa-{{ $value }} fa-lg pad"></i>
        {{ end }}
    </div>

    <a href="#contact" class="btn btn-dark">Contact</a>

  </div>
</section>
